{
    "extends": "standard-with-typescript",
    "parserOptions": {
        "project": "./tsconfig.json"
    },
    "rules": {
        "semi": ["warn", "always"],
        "@typescript-eslint/no-explicit-any": ["off"]
    },
    "ignorePatterns": ["dist/*", "node_modules/*", "test/*", "coverage/*"]
}
